.row.header-row
  .col-8
    header
      a.logo([routerLink]="['/home']")
        img#logo.hidden-xs-down(src="/assets/img/logo-v1-1.png" alt="Artstor logo")
        img#logoMobile.hidden-xs-up(src="/assets/img/logo-square.png" alt="Artstor logo")
  .col-4
    .login-panel.d-flex.align-items-center.justify-content-center(*ngIf="showUserPanel")
      div
        div {{ 'HEADER.GREETING' | translate:translateParams }}
        .link.text-center((click)="_auth.logoutUser()") Log Out
        
ang-session-expire-modal(*ngIf="showinactiveUserLogoutModal", (closeModal)="inactiveUsrLogOut()")
ang-login-required-modal(*ngIf="showLoginRequiredModal", (closeModal)="showLoginRequiredModal = false")