.modal-header
  h4.modal-title User Details
  button.close(
    type="button",
    aria-label="Close",
    (click)="activeModal.dismiss('Cross click')"
  )
    span(aria-hidden="true") &times;
.modal-body.has-icon-overlay(*ngIf="!user")
  i.icon-lg.icon-loading-large
.modal-body(*ngIf="user")
  h5 {{ user.firstname }}
  p {{ name }}
.modal-footer
  button.btn(
    (click)="activeModal.close('Close click')",
    type="button"
  ) Close