.row.nav-row
  .col-8
    nav.navbar
      ul.navbar-nav
        li.nav-item.btn
          a.nav-link([routerLink]="['/home']") Home
        li.nav-item.btn
          a.nav-link([routerLink]="['/settings']") Global Settings
        li.nav-item.btn
          a.nav-link([routerLink]="['/users']") User Accounts