@import './../../styles/core/variables';

$navHeight: 50px;

.nav-row {
  // height: $navHeight;
  background: $medGray;
  position: relative;

  &:before, &:after {
    background: $medGray;
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    min-width: 500px;
    height: 100%;
  }

  &:before {
      right: 100%;
  }

  &:after {
      left: 100%;
  }
}

//--nav--//
.navbar-nav {
  flex-direction: row;
}

.nav-link {
  text-transform: none;
  color: #000;
  font-weight: bold;

  &:active {
      text-decoration: none;
      outline: none;
      color: #0039c6;
  }

  &:hover, &:focus  {
    text-decoration: none;
    color: #0039c6;
    outline: none;
    background: none;

    & .value {
        text-decoration: underline;
    }
  }
}

// .navbar-light {
//   background: $navBarLightBg;


// }