.row.header-row
  .col-12
    header
      a.logo([routerLink]="['/home']")
        img#logo.hidden-xs-down(src="/assets/img/logo-v1-1.png" alt="Artstor logo")
        img#logoMobile.hidden-xs-up(src="/assets/img/logo-square.png" alt="Artstor logo")
  .col-2
    .login-panel
      div login info to go here
.row.nav-row
  .col-8
    nav.navbar
      ul.navbar-nav
        li.nav-item.btn
          a.nav-link([routerLink]="['/home']") Home
        li.nav-item.btn
          a.nav-link([routerLink]="['/settings']") Global Settings
        li.nav-item.btn
          a.nav-link([routerLink]="['/users']") User Accounts