@import './../../styles/core/variables';

$headerHeight: 80px;
$mobileHeaderHeight: 60px;

$navHeight: 50px;

//--layout--//
.header-row {
  max-height: $headerHeight;
}

.nav-row {
  // height: $navHeight;
  background: $medGray;
  position: relative;

  &:before, &:after {
    background: $medGray;
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    min-width: 500px;
    height: 100%;
  }

  &:before {
      right: 100%;
  }

  &:after {
      left: 100%;
  }
}

.login-panel {
  background: $lightGray;
  height: 100%;
}

//--logos--//
#logo {
  // Make sure height is a factor of the real image height for scaling
  $logoHeight: 24px;
  height: $logoHeight;
  width: auto;
  margin: ($mobileHeaderHeight - $logoHeight)/2 0;
  margin-right: 20px;
  padding: 0px;

  @media (min-width: 768px) {
      margin: ($headerHeight - $logoHeight)/2 0;
  }
}

#logoMobile {
  position: fixed;
  top: 8px;
  left: 14px;
  z-index: 9000;
  height: 32px;
}

.logo {
  border: none !important;
  padding: 0 29px;
}

//--nav--//
.navbar-nav {
  flex-direction: row;
}

.nav-link {
  text-transform: none;
  color: #000;
  font-weight: bold;

  &:active {
      text-decoration: none;
      outline: none;
      color: #0039c6;
  }

  &:hover, &:focus  {
    text-decoration: none;
    color: #0039c6;
    outline: none;
    background: none;

    & .value {
        text-decoration: underline;
    }
  }
}

// .navbar-light {
//   background: $navBarLightBg;


// }