.row.nav-row
  .col-8
    nav.navbar
      ul.navbar-nav
        li.nav-item.btn
          a.nav-link([routerLink]="['/home']") Home
        
        li.nav-item.btn.dropdown(dropdown)
          a.nav-link(dropdown-open) Global Settings
          ul.dropdown-menu
            li
              a Manage Institution
            li
              a Send an Email

        li.nav-item.btn
          a.nav-link([routerLink]="['/users']") User Accounts