.row.nav-row
  .col-8
    nav.navbar
      ul.flex-row
        li.nav-item.btn
          a.nav-link([routerLink]="['/home']") Home

        li.nav-item.btn
          a.nav-link([routerLink]="['/institution']") Manage Institution

        li.nav-item.btn
          a.nav-link([routerLink]="['/users']") Manage Users