ang-main-header
ang-main-nav

.container.main-content#mainContent
    .page-hdr
        h1 Manage Institution
    p.small.pt-2.info-txt To make the most of Artstor at your institution, go to #[a(href="http://support.artstor.org/?article=promoting-artstor-on-campus" target="_blank") Promotional materials].
    
    h2 User settings
    .usr-settings-cntnr.mt-2
        .cntnr
            h3 Update Password
            p.small The default password for all newly registered users is #[b artstor].
            p.small.mb-1 (7-20 characters, no special characters)
            div
                input(type="password" placeholder="Password")
                input(type="password" placeholder="Confirm Password")

    h2.mt-3 Local support contacts for Artstor
    p.small There are locations in Artstor where your institution can publish local support contact information.
    .usr-contact-cntnr
        .cntnr
            h3 Emails
            p.small Emails sent from the Admin site will include the following contact information:

            .cntct-row
                .lbl Administrator:
                input(type="text")
            .cntct-row
                .lbl *Email address:
                input(type="text")
            .cntct-row
                .lbl Phone number:
                input(type="text")

            p.small *Note: This email address will also be displayed on the Search & Browse page of the digital library.
    
    