ang-main-header
ang-main-nav

.container.main-content#mainContent
    form#formInst(
            [formGroup]="manageInstForm",
            (ngSubmit)="updateInstitutionalDetails(manageInstForm)"
            )    
        .page-hdr
            h1 {{ 'INTITUTION.HEADINGS.MANAGE_INST' | translate }}
        p.small.pt-2.info-txt([innerHTML]="'INTITUTION.TEXTS.PROMO_MATERIALS' | translate")
        
        h2 {{ 'INTITUTION.HEADINGS.USERS_SETTINGS' | translate }}
        .usr-settings-cntnr.mt-2
            .cntnr
                h3 {{ 'INTITUTION.HEADINGS.UPDATE_PWD' | translate }}
                //- p.small The default password for all newly registered users is #[b {{instituion.institution.default_user_pwd}}].
                p.small.mb-1 {{ 'INTITUTION.TEXTS.PWD_CHARS' | translate }}
                div
                    input#inputPWD(type="text", placeholder="Password", [formControl]="manageInstForm.controls['pwd']", name="pwd")
                    input#inputCPWD(type="text", placeholder="Confirm Password", [formControl]="manageInstForm.controls['cpwd']", name="cpwd")

        h2.mt-3 {{ 'INTITUTION.HEADINGS.LOCAL_SUPPORT' | translate }}
        p.small {{ 'INTITUTION.TEXTS.LOCAL_SUPPORT' | translate }}
        .usr-contact-cntnr
            .cntnr
                h3 {{ 'INTITUTION.HEADINGS.EMAILS' | translate }}
                p.small {{ 'INTITUTION.TEXTS.EMAILS' | translate }}
                .cntct-row                    
                    .lbl {{ 'INTITUTION.LABELS.ADMIN' | translate }}:
                    input#inputAdminName(type="text", [formControl]="manageInstForm.controls['admin_name']", name="admin_name")
                .cntct-row
                    .lbl *{{ 'INTITUTION.LABELS.EMAIL' | translate }}:
                    input#inputAdminEmail(type="text", [formControl]="manageInstForm.controls['admin_email']", name="admin_email")
                .cntct-row
                    .lbl {{ 'INTITUTION.LABELS.PHONE' | translate }}:
                    input#inputAdminPhone(type="text", [formControl]="manageInstForm.controls['admin_phone']", name="admin_phone")

                p.small *{{ 'INTITUTION.LABELS.NOTE' | translate }}

        .has-danger(*ngIf="messages.userListError")
            .form-control-feedback {{ 'INTITUTION.MESSAGES.USER_LIST_ERROR' | translate }}
        .btn-grp
            button#btnCancel.btn.btn-secondary([routerLink]="['/home']") {{ 'INTITUTION.BUTTONS.CANCEL' | translate }}
            button#btnUpdate.btn.btn-primary((click)="formSubmitted = true", type="submit", name="action") {{ 'INTITUTION.BUTTONS.UPDATE' | translate }}