.containter-fluid
  ang-main-nav
  //- .row
  //-   router-outlet
  //- .row
  //-   .col-3
  //-     div(style="height: 300px;width: 300px;background-color: red;")
  //-   .col-3
  //-     div(style="height: 300px;width: 300px;background-color: black;")
  //-   .col-3
  //-     div(style="height: 300px;width: 300px;background-color: aquamarine;")