@import './../../../styles/core/variables';

$nav-height: 80px;
$mobileNavHeight: 60px;

//--layout--//
.header-row {
  max-height: $nav-height;
}

.login-panel {
  background: $light-grey;
  height: 100%;
}

//--logos--//
#logo {
  // Make sure height is a factor of the real image height for scaling
  $logoHeight: 24px;
  height: $logoHeight;
  width: auto;
  margin: ($mobileNavHeight - $logoHeight)/2 0;
  margin-right: 20px;
  padding: 0px;

  @media (min-width: 768px) {
      margin: ($nav-height - $logoHeight)/2 0;
  }
}

#logoMobile {
  position: fixed;
  top: 8px;
  left: 14px;
  z-index: 9000;
  height: 32px;
}

.logo {
  border: none !important;
  padding: 0px;
}