.col-8
  a.navbar-brand([routerLink]="['/home']")
    img#logo.hidden-xs-down(src="/assets/img/logo-v1-1.png" alt="Artstor logo")
    img#logoMobile.hidden-xs-up(src="/assets/img/logo-square.png" alt="Artstor logo")