#inactiveUserLogoutModal.modal.fade-in.show
  .modal-dialog
    .modal-content
      .modal-body
        .container-fluid
          .row.hdr
            h1 {{ 'MODAL.LOGIN_REQUIRED.HEADING' | translate }}
          .row.pt-3.main-content
            | {{ 'MODAL.LOGIN_REQUIRED.MESSAGE' | translate }}
      .modal-footer
        button.btn.btn-primary((click)="stashThenRoute('/login')") {{ 'MODAL.LOGIN_REQUIRED.BUTTONS.LOG_IN' | translate }}
        button.btn.btn-secondary((click)="goToHome()") {{ 'MODAL.LOGIN_REQUIRED.BUTTONS.STAY_LOGGED_OUT' | translate }}
