.stats-cntnr{
    background-color: #e2e8e2;
    padding: 10px 20px;
    border: 1px solid #d8e0d6;

    .page-hdr{
        color: #4F5557;
        // filter: grayscale(100%);
        font-size: 1.3em;
        background: url(/assets/img/welcome_stats.gif) no-repeat -7px 0px transparent;
        height: 60px;
    }

    .stat{
        margin: 10px 0px;
        .val{
            font-size: 1.4em;
            color: #4f5557;
            width: 4em;
            margin-right: .5em;
        }
        .lbl{
            font-size: .7em;
            color: #4f5557;
            width: 17em;
            margin-top: 8px;
        }
    }
    .stats-link{
        font-size: 0.9rem;
        color: #4F5557;
        padding: 10px 0px;
        border-top: 1px solid #fff;
        
        a{
            color: #b64404;
            font-weight: bold;
            text-decoration: none;
        }
    }
}
.questions-cntnr{
    background-color: #ecebe1;
    padding: 10px;
    border: 1px solid #d8e0d6;

    .bg{
        background: url(/assets/img/questions.gif) no-repeat 50% 50% #ecebe1;
        height: 85px;
    }
    h2{
        font-size: 1.04em;
        color: #80987d;
        padding: 10px 0px;
        line-height: 1.0;
    }
    div{
        font-size: .9em;
        color: #4F5557;

        a{
            color: #b64404;
            font-weight: bold;
            text-decoration: none;
        }
    }
}
.promo-cntnr{
    background-color: #ecebe1;
    padding: 10px;
    border: 1px solid #d8e0d6;

    .bg{
        background: url(/assets/img/welcome_pix.gif) no-repeat 50% 50% #ecebe1;
        height: 85px;
    }
    h2{
        font-size: 1.04em;
        color: #80987d;
        padding: 10px 0px;
        line-height: 1.0;
    }
    div{
        font-size: .9em;
        color: #4F5557;

        a{
            color: #b64404;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

.local-support{
    .admin-users{
        height: 150px;
        overflow-y: auto;
        padding: 5px;
        border: 1px solid #d8e0d6;
        margin: 5px 0px;
    }

    a{
        color: #b64404;
        text-decoration: none;
    }
}